@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root{
    --fonte-titulo: "Passion One", sans-serif;
    --font-padrao: Verdana, Geneva, Tahoma, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--font-padrao);
    background-color: #fff;
}
/* Cabeçalho*/
header{
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 20px;
}
header h1{
    font-family: var(--fonte-titulo);
    font-size: 9vw;
    font-variant: small-caps;
}
header p {
    margin: 0 auto;
}
header p a{
    color: #fff;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: black;
}
main{
    width: 100%;
    height: 100vh;
}
main section {
    width: 400px;
    border: 1px solid black;
}
section p {
    font-size: 2vw;
}